# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
halfpipe.egg-info/**/*
halfpipe.egg-info
.eggs/**/*
.eggs

# caches for mypy, pytest, etc.
.*_cache/**/*
.*_cache

# pip installs
src/**/*
src/

# git
.gitignore
.git/**/*
.git

# other
work/**/*
work
out/**/*
out/

# CI, etc.
.github/**/*
.github
Singularity.def

# text files
README.md
LICENSE.txt
CHANGELOG.md
