numpy
scipy
pandas >= 0.24.0
patsy
odfpy
nibabel >= 3.0.0
nipype
fmriprep
smriprep == 0.6.2
sdcflows == 1.3.3
mriqc == 0.15.2
niworkflows
templateflow >= 0.6.3
pybids >= 0.11.1
fasteners
inflect
inflection
marshmallow >= 3.7.0
marshmallow-oneofschema
matplotlib
pint
seaborn
svgutils
tabulate
calamities
