numpy
scipy
pandas >= 0.24.0
patsy >= 0.5.1
statsmodels >= 0.12.0
odfpy
nibabel >= 3.0.0
nipype >= 1.5.1
fmriprep == 20.2.0
smriprep == 0.7.0
sdcflows == 1.3.3
mriqc == 0.15.3
niworkflows == 1.3.1
templateflow >= 0.6.3
pybids >= 0.11.1
flufl.lock >= 5.0.1
inflect
inflection
marshmallow >= 3.7.0
marshmallow-oneofschema
matplotlib
pint
seaborn
svgutils
tabulate
chardet
calamities
