# build system
setuptools>=45
setuptools_scm[toml]>=6.2
wheel

# neuroimaging
fmriprep @ https://github.com/HippocampusGirl/fmriprep/archive/20.2.7+halfpipe.2.zip
smriprep @ https://github.com/HippocampusGirl/smriprep/archive/0.7.2+halfpipe.2.zip
niworkflows ~= 1.3.5
sdcflows ~= 1.3.3
nipype @ https://github.com/nipy/nipype/archive/cd4c34d935a43812d1756482fdc4034844e485b8.zip
nibabel >= 3.2.1
indexed-gzip >= 1.6.4
nitime
templateflow >= 0.7.1
pybids >= 0.13.1

# data management
numpy >= 1.20
scipy >= 1.6.2
mpmath >= 1.1.0
gmpy2 >= 2.0.8
pandas >= 1.2.0
patsy >= 0.5.2
statsmodels >= 0.12.2
scikit-learn >= 0.24
scikit-image >= 0.19
matplotlib < 3.6
seaborn >= 0.11.1
svgutils >= 0.3.1
tabulate >= 0.8.9
odfpy >= 1.4.1
xlrd >= 1.0.0
openpyxl >= 3.0.7
XlsxWriter >= 1.4.4
Pint >= 0.17

# utilities
flufl.lock >= 5.0.3
psutil >= 5.8.0
fasteners >= 0.15
chardet >= 4.0
pympler >= 0.9
stackprinter >= 0.2.5
line-profiler >= 3.3.0
typing_extensions >= 3.10.0.0
pyrsistent >= 0.18.1
frozendict >= 2.0.6
requests >= 2.25.1
pysocks >= 1.7.1
inflect >= 5.3.0
inflection >= 0.5.1
parse >= 1.19.0
marshmallow >= 3.10.0
marshmallow-oneofschema
marshmallow-dataclass >= 8.5.3
marshmallow-enum
typeguard
more-itertools >= 8.7.0
