# Build system packages
setuptools_scm>=6.2
wheel

# Neuroimaging packages
fmriprep ==20.2.7+halfpipe.2
smriprep ==0.7.2+halfpipe.2
niworkflows >= 1.3.10
sdcflows==1.3.5
nipype >= 1.8.1
nibabel >= 4.0.0
templateflow >= 0.7.1
pybids >= 0.13.1
openneuro-py

# Data science packages
numpy >= 1.20
scipy >=1.8.0,!=1.8.1
numba
pandas >= 1.2.0
patsy >= 0.5.2
statsmodels >= 0.14
tabulate >= 0.8.9
pint >= 0.17
datalad

# Plotting packages
matplotlib
seaborn >= 0.11.1
svgutils >= 0.3.1

# Packages to deal with different spreadsheet formats
odfpy >= 1.4.1
xlrd >= 1.0.0
openpyxl >= 3.0.7
XlsxWriter >= 1.4.4

# Utilities
flufl.lock >= 5.0.3
psutil >= 5.8.0
threadpoolctl
fasteners >= 0.15
chardet
pympler >= 0.9
stackprinter >= 0.2.5
line-profiler >= 4.0.1
pyrsistent >= 0.18.1
requests >= 2.25.1
inflect >= 5.3.0
inflection >= 0.5.1
parse >= 1.19.0
marshmallow >= 3.10.0
marshmallow-oneofschema
marshmallow-dataclass >= 8.5.3
marshmallow-enum
more-itertools >= 8.7.0

# Requirements for TUI
rich==13.4.2
rich-pixels==3.0.1
textual @ git+https://github.com/Textualize/textual.git@aced8548076ebdff34ab8f0e94dccfd315b24135
