TextSwitch {
    border: tall transparent;
    height: 3;
    width: 16;
    padding: 0 2;
    background: green 25%;
}

TextSwitch > .switch--slider {
    background: $panel-darken-2;
    color: $panel-lighten-2;
}

TextSwitch:hover {
    border: tall $background;
}

TextSwitch:focus {
    border: tall $primary;
}

TextSwitch.-on {
}

TextSwitch.-on > .switch--slider {
    color: $success;
}

/*
Switch {
    border: tall transparent;
    height: 3;
    width: 21;
    padding: 0 2;
}
*/
