Run {
    Button {
        margin: 0 1 0 0;

offset-x: 5;

    }
    #run_button_panel {
        dock: top;
        height: auto;
        align: left top;

    }
#keep_selection_panel {
width: auto;
background: green 60%;
height: auto;
padding: 0 0 0 1;
#keep_label {
border: transparent;
width: auto;
color: white;
text-style: bold;
}


    Select {
text-style: bold;
        width: 22;
background: black 30%;
    }
}
}
