#check_meta_data_modal {
    #message {
        height: auto;
        content-align: center middle;
    }
}

#select_value_modal {
    Input {
    }
}

#title {
    content-align-horizontal: center;
    text-style: reverse;
}

#event_files_type_modal {
    #draggable_modal_screen_container_wrapper {
        width: 40;
    }
}

.icon_buttons {
    width: 3;
    height: 3;
    margin: 0 1 0 0;
    min-width: 6;
    offset-x: 1;
}
