doctype html
html(lang="en")
  head
    title= pageTitle
    meta(charset="utf-8")
    style(type="text/css")!= css
  body
    noscript We're sorry but #{pageTitle} doesn't work properly without JavaScript enabled. Please enable it to continue.
    #app
    script(type="text/javascript" src="qualitycheck.js" defer)
    script(type="text/javascript")!= js