FalseInputWarning {
    Grid {
        grid-size:1 2;
        grid-rows: 1fr 3;
        padding: 0 1;
        width: 40;
        height: 11;
        border: thick $warning;
        background: $surface;
    }
    Label {
        height: 1fr;
        width: 1fr;
        content-align: center middle;
        color: $warning;
    }
    Horizontal {
        align: center middle;
    }
    Button {
        width: 50%;
    }
}
